<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title><%= title %></title>

    <link rel="stylesheet" href="/reveal/css/reset.css">
    <link rel="stylesheet" href="/reveal/css/reveal.css">
    <link rel="stylesheet" href="/reveal/css/theme/white.css" id="theme">
    <link rel="stylesheet" href="/css/presentation.css" id="theme">
    <link rel="stylesheet" href="/css/zeburn.css">


</head>
<body>
<div class="reveal">
    <div class="slides">
        <section data-markdown="/presentations/<%= presentation_name %>" data-separator="^\r?\n---\r?\n$" data-separator-vertical="^\r?\n--\r?\n$" style="text-align: left;"></section>
    </div>

</div>

<script src="/reveal/js/reveal.js"></script>
<script src="/reveal/plugin/markdown/marked.js"></script>
<script src="/reveal/plugin/markdown/markdown.js"></script>
<script src="/reveal/plugin/highlight/highlight.js"></script>
<script src="/reveal/plugin/notes/notes.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/reveal-plugins/chalkboard/chalkboard.js"></script>
<script src="//d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
<script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
<script>
    if( window.location.search.match( /print-pdf/gi ) ) {
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = '/reveal/css/print/pdf.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
</script>
<script>
    // More info about initialization & config:
    // - https://revealjs.com/initialization/
    // - https://revealjs.com/config/
    function onInputEditor(el) {
        el = $(el)
        var forElement = el.attr("for")
        var text = el.val()
        $.post( "/render", { 'text': text, 'md_file': "<%= presentation_name %>", 'editor_id': el.attr('id')}, function( data ) {
            $('.'+forElement).html(data);
        });
    }
    function onInputEditorGraph(el) {
        el = $(el)
        var forElement = el.attr("for")
        var text = el.val()
        d3.select('.'+forElement).graphviz().renderDot(text);

    }
    Reveal.initialize({
        math: {
            config: 'TeX-MML-AM_CHTML-full',
            // pass other options into MathJax.Hub.Config()
            loader: {load: ['[tex]/braket']},
            TeX: { Macros: { RR: "{\bf R}" } , equationNumbers: { autoNumber: "AMS" }, packages: {'[+]': ['braket']}},
            jax: ["input/TeX","output/CommonHTML"],"CommonHTML": { matchFontHeight: false, scale: 120 }
            },
        hash: true,
        fragments: true,
        slideNumber: true,
        pdfSeparateFragments: false,
        pdfMaxPagesPerSlide: 1,
        markdown: {
                smartypants: true
            },
        dependencies: [
        { src: "/my_modules/graphviz-reveal.js/dist/graphviz-reveal.js"},
        { src: "/my_modules/math3/dist/math3.js" },
        ],
        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealChalkboard, RevealHighlight, RevealNotes],
        keyboard: {
        67: function () { RevealChalkboard.toggleNotesCanvas() },	// toggle notes canvas when 'c' is pressed
        66: function () { RevealChalkboard.toggleChalkboard() },	// toggle chalkboard when 'b' is pressed
        46: function () { RevealChalkboard.clear() },	// clear chalkboard when 'DEL' is pressed
        8: function () { RevealChalkboard.reset() },	// reset chalkboard data on current slide when 'BACKSPACE' is pressed
        68: function () { RevealChalkboard.download() },	// downlad recorded chalkboard drawing when 'd' is pressed
        }
    })
    Reveal.addEventListener( 'ready', function( event ) { 
        Reveal.getSlides()[0].remove();
        Reveal.navigateRight();
        Reveal.navigateLeft();

        $( ".editor" ).each(function() { 
            var area = this;
            $.post( "/load_render", { 'md_file': "<%= presentation_name %>", 'editor_id': this.id}, function( data ) {
                $(area).val(data);
            }).then(() => onInputEditor(area));
        });
        $( ".editor" ).on('input', e => onInputEditor(e.target));
        $( ".editor_graphviz" ).on('input', e => onInputEditorGraph(e.target));
    });

</script>




</body>
</html>
